<h2>Choose a skill for <%= @card.card.name %></h2>

<%= form_with url: battle_play_card_path(@card.battle, @card), method: :put do |f| %>
  <% @skills.each do |skill| %>
    <p>
      <%= radio_button_tag :selected_skill_id, skill.id %>
      <%= label_tag "skill_#{skill.id}", skill.name %>
    </p>
  <% end %>
  <%= f.submit "Use skill" %>
<% end %>
