<div class="container">
<h1>This is the game</h1>
<%= @cards_player.each do |card| %>
  <div class="player-card">
    <h5><%= card.card.name %></h5>
  </div>
<% end %>
  <%= form_with(url: play_card_path(card), method: :patch) do |f| %>
  <% @available_skills.each do |skill| %>
    <%= f.radio_button :skill, skill.id %>
    <%= f.label :skill, skill.name %>
  <% end %>
  <%= f.submit "Play" %>
<% end %>
</div>
<%= @cards_player.each do |card| %>
  <div class="player-card">
    <h5><%= card.card.name %></h5>
  </div>
<% end %>
